<h3>Front</h3>
<!--<ul>
  <li *ngFor="let image of images">
    <img [src]="'http://media.mw.metropolia.fi/wbma/uploads/'+image.filename" style="max-width: 300px;">
  </li>
</ul>-->
<div *ngFor="let file of mediaFiles">
  <img *ngIf="file.media_type === 'image'" [alt]="file.title" [routerLink]="['/mediaPlayer', file.file_id]" [src]="'http://media.mw.metropolia.fi/wbma/uploads/' + (file.filename | thumbnail: 'small')">

  <p *ngIf="file.media_type === 'audio'">
    <a [routerLink]="['/mediaPlayer', file.file_id]">{{file.filename}}</a>
  </p>


  <p *ngIf="file.media_type === 'video'">
    <a [routerLink]="['/mediaPlayer', file.file_id]">{{file.filename}}</a>
  </p>
</div>
